

.choose {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 60px;
}

.choose__title {
    color: #FFF;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    margin-bottom: 40px/* 116.667% */
}

.choose__subtitle {
    color: #FFF;
    font-family: Arial,sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    margin-bottom: 40px;
}
.choose__fieldset {
    display: flex;
    flex-direction: column;
}

.choose__label {
    color: #FFF;
    font-family: Arial,sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: normal;
}

.choose__div {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.choose__input:focus {
    border: 1px solid #840AA3;
}

.choose__input {
    margin-right: 12px;
}


.choose__input_radio {
    transform:scale(1.5);
    opacity:0.9;
}

.choose__input_checkbox {
    width: 25px;
    height: 25px;
}

.choose__book {
    width: 300px;
    height: 60px;
    border: 3px solid transparent;
    border-radius: 10px;
    background: #FFF;
    color: #6C0287;
    font-family: Arial,sans-serif;
    font-size: 22px;
    font-weight: 700;
    line-height: 28px; /* 127.273% */
    text-transform: uppercase;
    float: right;
    margin: 0 95px 80px 0;
}

.choose__book:hover {
    border-radius: 10px;
    border: 3px solid #6C0287;
    background: #EADEED;
}
.choose__book:active {
    border-radius: 10px;
    border: 0;
    background: #EADEED;
}

.choose__book:focus{
    border-radius: 10px;
    border: 3px solid #6C0287;
    background: #FFF;
}


