
.contact__input {
    font-size: 24px;
}

.contact__input_address {
    margin-bottom: 38px;
}

.contact__input_address:before {
    content: url("./../img/location.svg");
    margin-right: 31px;
    position: relative;
    bottom: -10px;
}

.contact__input_call {
    margin-bottom: 11px;
}

.contact__input_call:before {
    content: url("./../img/call.svg");
    margin-right: 31px;
    position: relative;
    bottom: -10px;
}

.contact__input_gmail:before{
    content: url("./../img/mail.svg");
    margin-right: 31px;
    position: relative;
    bottom: -10px;
}

.contact__list_row{
    display: flex;
    flex-direction: row;
}

.contact__input_r-margin {
    margin-right: 26px;
}