
.hall {
    padding-top: 50px;
}

.hall__list {
    padding: 0;
}

.hall__item_bg-vibes {
    background-image: url("./../img/vibes.jpg");
}

.hall__item_bg-wars {
    background-image: url("./../img/star_wars.jpg");
}

.hall__item_bg-west {
    background-image: url("./../img/wild_west.jpg");
}

.hall__item_bg-neon {
    background-image: url("./../img/neon_style.jpg");
}

.hall__item {
    background-size: cover;
    width: 580px;
    height: 355px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 70px;
    margin: 0 0 60px 0;
    float: left;
}

.hall__item:nth-child(even){
    float: right;
}

.hall__item:nth-child(3) {
    margin-bottom: 0;
}
/*исправить отступы
исправить ссылки снизу(кновпка- кнопка ссылка ссылка*/