
.hall {
    padding-top: 50px;
}

.hall__item_bg-vibes {
    background-image: url("./../img/vibes.jpg");
}

.hall__item_bg-wars {
    background-image: url("./../img/star_wars.jpg");
}

.hall__item_bg-west {
    background-image: url("./../img/wild_west.jpg");
}

.hall__item_bg-neon {
    background-image: url("./../img/neon_style.jpg");
}

.hall__item {
    display: flex;
    width: 100%;
    height: 710px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
    font-size: 70px;
}