
.header {
    height: 823px;
    margin-bottom: 50px;
}

.header__container {
    position: relative;
    min-height: 100%;
}

.header__title {
    font-size: 150px;
    margin: 0;
}

.header__subtitle{
    font-size: 28px;
    margin: 0 0 0 100px;
}

.header__man-img{
    position: absolute;
    top: 70px;
    right: 0;
}