
.introduction {
    height: 823px;
    margin-bottom: 50px;
    padding-top: 50px;

}
.introduction__container {
    position: relative;
    min-height: 100%;
}

.introduction__title {
    font-size: 150px;
    margin: 0;
}

.introduction__subtitle{
    font-size: 28px;
    margin: 0 0 0 100px;
}

.introduction__man-img{
    position: absolute;
    top: 70px;
    right: 0;
}

.introduction_nav{
    display: flex;
    flex-wrap: wrap;
    max-width: 50%;
    gap: 150px 40px;
    flex-direction: row;
    padding-top: 30px;
}

.introduction__text-block {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.introduction__text_purple {
    color: #CD06FF;
    font-size: 100px;
    font-family: Arial, sans-serif;
    font-weight: 900;
}

.introduction__text {
    width: min-content;
    color: #FFF;
    text-align: center;
    font-family: Arial,sans-serif;
    font-size: 30px;
    font-weight: 400;
}

.introduction__link-book{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 374px;
    height: 80px;
    color: #FFF;
    font-family: Arial,sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 30px; /* 115.385% */
    text-transform: uppercase;
    border-radius: 10px;
    background: #6C0287;
    text-decoration: none;
}

.introduction__link-book:hover {
    background: #840AA3;
}
.introduction__link-book:active {
    background: #640AA3;
}

.introduction__link-book:focus {
    outline: 1px solid #CD06FF;
    background: #840AA3;
}

.introduction__link-end{
    position: absolute;
    right: 50%;
    bottom: 50px;
}
/*.introduction__link-end:before,*/
/*.introduction__link-end:after {*/
/*    width: 28px;*/
/*    height: 2px;*/
/*    content: '';*/
/*    position: absolute;*/
/*    display: block;*/
/*    background: #840AA3;*/
/*}*/

/*.introduction__link-end:before {*/
/*    top: 5px;*/
/*    left: 4px;*/
/*    transform: rotate(30deg);*/
/*}*/
/*.introduction__link-end:after {*/
/*    top: 5px;*/
/*    right: 3px;*/

/*    transform: rotate(-30deg);*/
/*}*/

.introduction__svg{
    border: 1px solid #fff;
    border-radius: 50%;
    fill: #fff;
}

.introduction__svg:hover{
    border: 1px solid #fff;
    border-radius: 50%;
    fill: #840AA3;
    background-color: #fff;
}

.introduction__svg:active{
    border: none;
    border-radius: 50%;
    fill: #fff;
    background-color: #CD06FF;
}

