@import "header.css";
@import "hall.css";
@import "about.css";
@import "question.css";
@import "contact.css";
@import "feedback.css";
body {
    background-color: #1B1A1B;
    color: #fff;
    font-family: Arial, sans-serif;
}

li {
    list-style-type: none;
}

h2 {
    margin-top: 0;
    text-transform: uppercase;
    text-align: center;
    font-size: 40px;
}



.wrapper {
    width: 1180px;
    margin: auto 146px;
    overflow: hidden;
}
