@import "introduction.css";
@import "menu.css";
@import "rest.css";
@import "hall.css";
@import "about.css";
@import "question.css";
@import "contact.css";
@import "feedback.css";
@import "book.css";
@import "choose.css";
@import "choose_radio.css";
@import "data.css";

:root {
    --main-color: #6C0287;
}

body {
    background-color: #1B1A1B;
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
}

li {
    list-style-type: none;
}

h2 {
    margin-top: 0;
    text-transform: uppercase;
    text-align: center;
    font-size: 40px;
}

section{
    padding-top: 50px;
}

fieldset {
    border: 0 none;
}

input,label,button {
    cursor: pointer;
}

.container {
    max-width: 1180px;
    margin: 0 auto ;
    overflow: hidden;
}

